{% extends "base.twig" %}
{# THIS IS A TWIG COMMENT
	the line above MUST be the first line in a template, It essentially says to use this template "base.twig" as of the main structure of my page and this current page "home.twig" is going to fill the blocks established in the main structure
#}

{% block main_content %}
{# The content in here will replace the content block found inside of "base.twig" #}
  <div class="py-5 text-center" style="	background-image: url(assets/cover-bubble-dark.svg);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Log in</h1>
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Well done!</h4>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
          </div>
          <form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form9"> </div>
            <div class="form-group mb-3" style="opacity: 0.5;"> <input type="password" class="form-control" placeholder="Password" id="form10"> <small class="form-text text-muted text-right">
                <a href="#"> Register</a>
              </small> </div> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}