<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar6">
            <a class="navbar-brand text-primary d-none d-md-block" href="index.php">
                <i class="fa d-inline fa-lg fa-cloud"></i>
                <b>{% if(isLogin) %}  Hi {{ userName }}  {% endif %}</b>
                <b> Phoenix Quiz</b>
            </a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link text-primary" href="index.php"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="login.php" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-question"></i>&nbsp;Quizzes&nbsp;</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for subject in subjects %}
                            <a class="dropdown-item {% if( isTeacherLogin) %}  disabled  {% endif %}" href="quiz.php?subject={{ subject.subName }}&page=1&mode=restart">{{ subject.subName }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% if(isTeacherLogin) %}
                    <li class="nav-item">
                        <a class="nav-link" href="question.php?mode=list"><i class="fa fa-fw fa-list"></i>Show Questions</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if(isLogin) %}
                        <a class="nav-link" href="logout.php?userName={{ userName }}"><i class="fa fa-fw fa-sign-in"></i>Log out</a>
                    {% else %}
                        <a class="nav-link" href="login.php"><i class="fa fa-fw fa-sign-in"></i>Log in</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if(not isLogin) %}
                        <a id="register" class="nav-link" href="register.php"><i class="fa fa-user fa-fw"></i>Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
