{% extends "main.twig" %}
{# THIS IS A TWIG COMMENT
	the line above MUST be the first line in a template, It essentially says to use this template "base.twig" as of the main structure of my page and this current page "index.twig" is going to fill the blocks established in the main structure
#}
{% block page_title %}List of Questions - {% endblock %}
{% block main_content %}
    {# The content in here will replace the content block found inside of "base.twig" #}
    <div class="py-5 text-center" style="	background-image: url(&quot;assets/cover-bubble-dark.svg&quot;);	background-position: top left;	background-size: cover;	background-repeat: repeat;">
        <div class="container bg-white">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="">Questions</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr class="text-nowrap">
                                <th class="text-center">#</th>
                                <th class="text-center">Subject</th>
                                <th class="text-center" contenteditable="true" style="">Question</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>1</th>
                                <td>PHP</td>
                                <td style="" class="">What is PHP tand for?</td>
                                <td style="" class="text-center"></td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>HTML</td>
                                <td>What is HTML stand for?</td>
                                <td></td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><a class="btn btn-outline-primary" href="#">Print&nbsp;<i class="fa fa-fw fa-print"></i> </a></div>
            </div>
        </div>
    </div>
{% endblock %}